{% paginate craft.entries.section('postEntries').limit(3) as posts %}
{# {% set posts = craft.entries.section('posts') %} #}
{# {% cache %} #}
  {% for post in posts %}
    <article class="post-summary js-scrolls animate -fade{% if loop.first %}-in{% else %}-up{% endif %}" data-offset="0.85">
      <div class="post-image-wrapper">
        <a href="{{ post.url }}">
          <img class="post-image js-lazy-img" data-img-src="{{ post.featuredImage.first.url('homeFeature') }}" alt="{{ post.title }}">
        </a>
      </div>
      <div class="post-description">
        <h3 class="post-date">{{ post.postDate|date("F j, Y") }}</h3>
        <a href="{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
        <p class="post-blurb js-avoid-orphan">{{ post.postSummary }}</p>
        <a href="{{ post.url }}" class="post-link btn gray">Read more</a>
      </div>
    </article>
  {% endfor %}
{# {% endcache %} #}

{% if paginate.nextUrl %}
  {% if craft.request.isAjax %}
    <a href="{{ paginate.nextUrl }}" class="btn gray js-load-posts">Load More Ajax</a>
  {% else %}
    <a href="{{ paginate.nextUrl }}" class="btn gray js-load-posts">Load More</a>
  {% endif %}
    {# <div class="loading hidden"><img src="/assets/img/theme/kgo-loader.gif" alt="Please wait.." /></div> #}
{% endif %}