{% paginate craft.entries.section('postEntries').limit(8) as posts %}
{% for post in posts %}
  <article class="post-summary js-scrolls animate -fade-up" data-offset="0.9">
    <div class="post-image-wrapper">
      <a href="{{ post.url }}">
        <img class="post-image js-lazy-img" data-img-src="{{ post.featuredImage.first.url('homeFeature') }}" alt="{{ post.title }}">
      </a>
    </div>
    <div class="post-description">
      <h3 class="post-date">{{ post.postDate|date("F j, Y") }}</h3>
      <a href="{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
      <p class="post-blurb js-avoid-orphan">{{ post.postSummary }}</p>
      <a href="{{ post.url }}" class="post-link btn gray">Read more</a>
    </div>
  </article>
{% endfor %}
