{#
 # Layout template
 # ---------------
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{% include 'partials/_layout-head' %}

{% if entry is defined %}
  {% set section = entry.getSection() %}
  {% if section.handle == 'postEntries' %}
    {% set recipe = true %}
  {% endif %}
{% else %}
  {% set section = 'no-section' %}
{% endif %}

<body class="tk-fade{% if recipe is defined and true %} print-styles{% endif %}">

  {# DESKTOP NAVIGATION #}
  {% include 'partials/_header' %}

  {# MOBILE NAVIGATION #}
  {% include 'partials/_mobile-nav' %}

  <main id="content" role="main" class="js-main">
   {% block content %}
     <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
     <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
   {% endblock %}
  </main>

  <div class="modal js-modal" alt="modal-window">
    <div class="modal__content">
      <div class="modal__close js-modal-close">
        <div class="modal__close--line" alt="close"></div>
      </div>
      <div class="js-modal-content"></div>
    </div>
  </div>

  <footer id="footer" class="footer">
    <div class="grid">
      <div class="left-side">&copy;{{ now.year }} / {{ craft.request.serverName }}</div>
      <div class="right-side"><a href="/contact">send us a message :)</a></div>
    </div>
  </footer>

  <script src="/assets/js/main.js"></script>
  {% block newsletterJs %}{% endblock %}
  {% block footerJs %}{% endblock %}
  {% include 'scripts/_analytics' %}
</body>
</html>
