{% extends "_layout" %}

{% set archive = craft.entries.section('postEntries').limit(null) %}

{% block content %}
  <div class="archive">
    <h1 class="archive__title">Post Archive</h1>
    <ul class="archive__list">
      {% for entry in archive %}
      <li class="archive__list-item">
        <a href="{{entry.url}}" class="archive__list-item--link">
          <div class="archive__list-item--image js-lazy-img" data-img-src="{{entry.featuredImage.first.url}}"></div>
          <div class="archive__list-item--date">{{entry.postDate.format('F d, Y')}}</div>
          <h2 class="archive__list-item--title">{{ entry.title }}</h2>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}