{#
 # Homepage template
 # ---------------
 #}

{% if craft.request.isAjax %}
  {% set layout = "posts/_post-loop" %}
{% else %}
  {% set layout = "_layout" %}
{% endif %}

{% extends layout %}

{% block content %}

  {% cache for 2 weeks %}
    <div class="grid">

      {% set vars = {'align' : 'left', 'featured' : 'true'} %}
      {% include 'partials/_aside' with vars %}

      <div id="home-posts" class="home-posts js-home-posts">
        {% include 'posts/_post-entries' %}
      </div>
    </div>
  {% endcache %}
{% endblock %}
