.paginate {
  flex: 1 0 auto;
  height: rem(170);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($vp2) {
    padding: 0 rem(24);
  }

  &__wrapper {
    background-color: $tmp-dark;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: 0;
    display: flex;
    align-items: flex-end;
  }

  &__button {
    flex: 1 0 20%;
    display: flex;

    &.-left {
      justify-content: flex-start;
    }

    &.-right {
      justify-content: flex-end;
    }

    &--link {
      @extend %title-md;
      color: $tmp-light;
      padding: rem(24) rem(40);

      &:hover,
      &:focus {
        .paginate__button--icon {
          fill: $tmp-brand;
        }
      }
    }

    &--icon {
      fill: $tmp-light;
      height: rem(16);
      width: rem(35);
      margin: 0 rem(3);
      display: inline-block;
      transition: fill $ease-fast;

      &.-left {
        transform-origin: 50% 50%;
        transform: rotate(180deg);
      }
    }
  }

  &__brand {
    flex: 0 0 80px;
    height: 80px;
    fill: rgba($tmp-light, 0.8);
  }
}
